Source: cmake4epics
Section: devel
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 10), cmake
Standards-Version: 4.3.0
Homepage: https://github.com/mdavidsaver/cmake4epics
Vcs-Git: https://github.com/mdavidsaver/cmake4epics.git
Vcs-Browser: https://github.com/mdavidsaver/cmake4epics

Package: cmake4epics
Architecture: any
Depends: ${misc:Depends}
Recommends: epics-dev
Description: Building EPICS Modules with CMake
 A set of CMake modules that enables developers to build EPICS
 applications like IOCs as well as libraries like device support
 modules using CMake. Cross-builds are supported as well.
